body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: white;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  justify-items: center;
}

nav ul li {
  padding: 1em;
}

main ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

main {
  padding: 0.4em;
}

main ul li  {
  margin-left: 0.39em;
  max-height: 22vh;
}

main ul li a img {
  max-width: 30vw;
  max-height: 22vh;
}


/* detail page */

.detail_page {
  padding: 0;
  background-color: white;
}


.detail_image {
  width: 100vw;
}

main .tags{
  display: flex;
  flex-direction: row;
  max-width: 30em;
  flex-wrap: wrap;
  padding: 0 .6em 0 .6em;
}

.detail_page section {
  max-width: 40em;
  padding: 0 .5em 0 .5em;
}
