@keyframes FadeOut {
  0% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  background-color: white;
  box-shadow: 2px 2px 10px
}

header nav > ul {
  padding: 0;
}

ul {
  list-style: none;
}

p {
  font-size: 1em;
}


nav {
  background-color: white;
  box-shadow: 2px 2px 10px;
  position: fixed;
  width: 100vw;
}

nav ul {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}


nav ul > li {
  padding: 1.4em;
}

main {
  padding-top: 4em;
  display: flex;
  flex-direction: column;
  justify-content: center;   
  align-items: center;   
}

section {
  padding: 2em;
}


/* overview */

.the-overview-page {
  padding: 4em .4em 0 0em;
}

.overview {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.overview > li {
  padding-left: .5em;
}

.overview li > a > img {
  width: 100%;
}


/* detail page */
.detail_page {
  padding-top:4em;
}

.detail_page > img {
  width: 100vw;
}

.detail_page section {
  max-width: 40em;
  padding: 0 .5em 0 .5em;
}

/* slideshow */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.details_content > h2,p,h3,ul {
  padding-top: 1em;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tags > li {
  padding:.3em;
}

.details_content a > button {
  position: absolute;
  border: none;
  right: 0;
  margin-right: 2em;
  bottom: 47%;
  background-color: green;
  padding: 2em;
  border-radius: 3em;
  box-shadow: 3px 3px 10px;
}




/*  navigation slideshow*/

.navigation {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  animation: FadeOut 8s;
  opacity: 0;
}

.navigation > button {
  background-color: rgba(0,0,0,.6);
  border: none;
  height: 100%;
  width: 5em;
  color: white;
  animation: FadeOut 8s;
  opacity: 0;
}


/* slideshow */
.main_slideshow {
  padding: 0;
}


.background_styles {
  margin: 0;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

.background_styles ul {
  display: flex;
  height: 100%;
  width: 100%;
}

.slideshow li {
  margin: 0;
  width: 100vw;
  height: 100vh;
  margin-top: 20vh;
}

.slideshow li figure {
  margin: 0;
}

.slideshow li figure > img {
  width: 100%;
}


.slideshow li figure > figcaption {
  font-size: .8em;
  max-width: 30em; 
  bottom: 0;
  color: white;
  padding: 3em;
}