
:root {
    --grid-plane-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    --nav-color: #F76C6C;
    --shade-of-blue: #DADBFF;
}

*, *:after, *:before {
    box-sizing: border-box;
}

.main-menu li {
    list-style: none;
    border-bottom: 1px solid rgba(255,255,255,.225);
    position: relative;
}

.category-view {
    display:inline-block;
}


.category-view h2 {
    display: inline-block;
}

svg g {
    display: inline-block;
}


.nav li a {
    padding-top: .6em;
    padding-bottom: .6em;
    display: block;
}


.nav li:hover {
    border-bottom: 1px solid rgba(255,255,255,1);
    text-decoration: none;


}

.thread-count {
    font-size: .8em;
}

.nav li a:after {
    content: '';
    height: 100%;
    left: -19px; 
    right: 0;
  
    width: 0; 
    transition: all 0.5s ease .1s;  
    position: absolute;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;

}

.nav li a:hover:after{
     width: 2.5%; 
     height: 80%;

     background-color: #A8D0E6;
    }



ol li {
    list-style: none;
}

.dot {

width: .6em;
height: .6em;
  background-color: #bbb;
  border-radius: 50%;
  position: absolute;
  top: 1.6em;
  left: 2.7em;
}



.green {
    background-color: rgba(30,190,165,0.96);
}

h1 {
    font-size: 1.5em;
}

.user-name {
    font-size: 1em;
}

.category-name {
    color: #ebbaba;
    font-weight: bold;  
    transition: .5s;
}

.category-name:hover {
    color: #E48282;
    text-decoration: underline;
}

body {
    height: 100vh;
    display: grid;
    line-height: 1.4;
    text-rendering: optimizeLegibility;
    letter-spacing: 0;
    grid-template-columns: 2fr 1fr 3fr 4fr;
    margin: 0;
    padding: 0;
    word-break: break-word;
    word-wrap: break-word;
    /* color: rgba(0,0,0,.84); */
    color: #FFFFFF;
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.tech-label {
    color: #1A0000;
}

.user-menu a {
    padding: 1em;
}



.nav {
    grid-column: 1;
    background-color: var(--nav-color); 
    padding: 1em;
    line-height: 1.2em;
    color: #1A0000;
    box-shadow: var(--grid-plane-shadow);
}



.thread-list {
    padding: 0px;
    width: 100%;
    position: relative;
    grid-column: 1/3;
}

.thread-view-content {
    padding-bottom: 1em;
  padding-left: 1em;
}

.category-icon {
    height: 1em;
    width: 1em;
}

.user-preview {
  
    position: relative;

}

.thumbnail-image {
    background-image: url(../img/abdul_profile_picture.jpg);
    background-size:cover;
    border-radius: 50%;

}

.thread-content {
    background-color: white;
    display: none;
    color: black;
    flex-direction: column;
    padding: 1.4em;
    box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.4);
    /* width: 0;
    height: 0;
    opacity: 0; */
}

h3 {
    margin: 0;
}

.show-thread-detail {
    display: grid;
    padding-top: 1em;
    box-shadow: 0 0px 0px 0 rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.3);
    text-decoration: none;
    color: white;
    transition: .3s ease;
    position: relative;
}

.show-thread-detail:after {
    content: "";
    position: absolute;
    right: -1.4em;
    width: 10px;
    top: 50%;
    height: 10px;
    opacity: 0;
    transition: opacity .3s ease-out;
    border-left: 0 transparent;
    background-color: transparent;
}

.show-thread-detail.show-caret:after {
    border: 0;
    opacity: 1;
    border-top: 1em solid transparent;
    border-right: 1em solid white;

	border-bottom: 1em solid transparent;
}

.show-thread-detail:hover {
    box-shadow: 0 10px 5px 0 rgba(0,0,0,0.1);
}


.thread-view h3 {
    display: inline-block;
}

.thread-details {
    font-size: .9em;
    color: var(--shade-of-blue);
}

.thread-view h4 {
    display: inline-block;
}

.thread-view ul {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.thread-view ul li {
    display: inline-block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table th {
    white-space: nowrap;
    text-align: start;
    padding: 1em;
}

tbody tr {
    border-top: 1px solid #ddd;
}

td {
    padding: 1em;
}

.main-nav {

    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-shadow: 0px 1px 25px 0px rgba(0,0,0,.125);
}

.main-nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
}


#thread-content {
    transition: .3s ease;
}


.main-menu {
    padding: 0px;
    margin: 0;
}

main {
    grid-column: 2 / span 4;
    background-color: #24305E;
    padding: 1.4em;

}

.content-thumbnail {
    margin-right: 1em;
}

.user-content {
    display: flex;
    align-items: center;

}


.user-description {
    font-size: .7em;
    color: var(--shade-of-blue);
}





@media (max-width: 992px) {
    body {
        font-size: 1em;
    }
    .nav {
        grid-column: 1 / span 2;
    }
    main {
        grid-column: 3 / span 4;
    }

    h1 {
   
    }

}


.user-preview {
    padding-left: 1em;
    padding-bottom: 1em;
    display: flex;
}

.user-image-display {
    margin: auto 0;
}

.name-display {
    display: flex;
    flex-direction: column;
    padding-left: .6em;
}
.user-name {
    vertical-align: top;
}



.user-description {
    display: inline-block;
}

.thumbnail-image {
    display: inline-block;
    height: 2.2em;
    width: 2.2em;
}

@media (min-width: 993px) {
    
    /* .thread-detail-grid {
        grid-template-columns: 1fr 7fr;
    } */

    /* .thumbnail-image {
        height: 3.2em;
        width: 3.2em;
    } */

}
.thread-detail-grid .user-preview .top{
    padding-left: 1em;
    padding-bottom: 1em;
}

